/* 整一行 */
.msg_line {
    display        : -webkit-flex;
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: flex-start;
    align-items    : flex-start;

    margin-bottom: 10px;

    animation: fadeIn ease-out 0.5s;
}

/* 头像块 */
.msg_line_avatar {
    flex : 0 0 auto;
    order: 0;

    margin-right: 20px;
}

/* 头像 */
.msg_line_avatar_img {
    width        : 36px;
    height       : 36px;
    border-radius: 50%;
}

/* 不显示气泡时使用小头像 */
.msg_line_avatar_small {
    flex : 0 0 auto;
    order: 0;

    margin-right: 12px;
}

/* 不显示气泡时使用小头像 */
.msg_line_avatar_img_small {
    width        : 24px;
    height       : 24px;
    border-radius: 50%;
}

/* 气泡块 */
.msg_line_bubble {
    flex : 0 1 auto;
    order: 0;

    background-color: #F0F8FF;
    border-radius   : 7px;
}

/* 小箭头 */
.msg_line_bubble_arrow {
    height      : 0;
    width       : 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #F0F8FF transparent transparent;
    position    : relative;
    left        : -16px;
    top         : 8px;
}

/* 气泡 */
.msg_line_bubble_content {
    padding       : 5px;
    padding-bottom: 7px;
    margin-top    : -16px;
    position      : inherit;
}

/* 用户昵称 */
.msg_line_uname {
    margin-top: 2px;
    margin-right: 8px;
    /* 消息很长时昵称也不换行 */
    word-break:keep-all;
    white-space:nowrap;
}

/* 消息文字 */
.msg_line_text {
    font-weight: bold;
    font-family: '微软雅黑';
}

/* 不显示气泡的样式 */
.msg_line_pure_text {
    margin-top: 2px;
}

/* 动画 */
@keyframes fadeIn {
    0% {
        margin-top: 50px;
    }

    100% {
        margin-top: 0px;
    }
}