/* 整一行 */
.msg_line {
    display        : -webkit-flex;
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: flex-start;
    align-items    : flex-start;

    margin-bottom: 10px;

    animation: fadeIn ease-out 0.5s;
}

/* 头像块 */
.msg_line_avatar {
    flex : 0 0 auto;
    order: 0;

    margin-right: 20px;
}

/* 头像 */
.msg_line_avatar_img {
    width        : 36px;
    height       : 36px;
    border-radius: 50%;
}

/* 不显示气泡时使用小头像 */
.msg_line_avatar_small {
    flex : 0 0 auto;
    order: 0;

    margin-right: 12px;
}

/* 不显示气泡时使用小头像 */
.msg_line_avatar_img_small {
    width        : 24px;
    height       : 24px;
    border-radius: 50%;
}

/* 气泡块 */
.msg_line_bubble {
    flex : 0 1 auto;
    order: 0;

    background-color: #F0F8FF;
    border-radius   : 7px;
}

/* 小箭头 */
.msg_line_bubble_arrow {
    height      : 0;
    width       : 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #F0F8FF transparent transparent;
    position    : relative;
    left        : -16px;
    top         : 8px;
}

/* 气泡 */
.msg_line_bubble_content {
    padding       : 5px;
    padding-bottom: 7px;
    margin-top    : -16px;
    position      : inherit;
}

/* 用户昵称 */
.msg_line_uname {
    margin-top  : 2px;
    margin-right: 8px;
    /* 消息很长时昵称也不换行 */
    word-break  : keep-all;
    white-space : nowrap;
}

/* 消息文字 */
.msg_line_text {
    font-weight: bold;
    font-family: '微软雅黑';
}

/* 不显示气泡的样式 */
.msg_line_pure_text {
    margin-top: 2px;
}

/* 动画 */
@keyframes fadeIn {
    0% {
        margin-top: 50px;
    }

    100% {
        margin-top: 0px;
    }
}

@font-face {
    font-family: 'hanyiwenhei85W';
    src        : url('fonts/HYWenHei 85W.ttf');
}

body {
    font-family           : 'hanyiwenhei85W' !important;
    -webkit-font-smoothing: subpixel-antialiased;
    padding               : 0px;
    margin                : 0px;
}

#list {
    margin: 0px;
}

/* 整一行 */
.msg_line {
    animation    : none;
    margin-bottom: 3px;
}

.msg_line_uname {
    height     : 24px;
    line-height: 24px;
    margin-top : 0px;
}

/* 头像块 */
.msg_line_avatar {
    margin-right: 2px;
}

/* 头像 */
.msg_line_avatar_img {
    width : 24px;
    height: 24px;
}

/* 小箭头 */
.msg_line_bubble_arrow {
    top: 4px;
}

/* 气泡 */
.msg_line_bubble_content {
    padding: 2px 4px;
}

/* 用户昵称 */
.msg_line_uname {
    color       : #F3C37D;
    margin-right: 10px;
}

/* 消息文字 */
.msg_line_text {
    font-family           : 'hanyiwenhei85W';
    -webkit-font-smoothing: subpixel-antialiased;
}

/* 粉丝勋章 */
.medal-guard {
    display            : block;
    width              : 22px;
    height             : 22px;
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center center;
    margin-top         : 1px;
}

/* 粉丝牌 */
.fans-medal-item {
    border       : 1px solid #67e8ff;
    border-radius: 5px;
    box-sizing   : content-box;
    font-size    : 14px;
    white-space  : nowrap;
    margin-top   : 2px;
    margin-right : 2px;
    display      : inline-flex;
}

.fans-medal-label {
    padding                  : 0 4px;
    background-image         : -o-linear-gradient(45deg, #1a544b, #529d92);
    background-image         : -moz-linear-gradient(45deg, #1a544b, #529d92);
    background-image         : -webkit-linear-gradient(45deg, #1a544b, #529d92);
    background-image         : linear-gradient(45deg, #1a544b, #529d92);
    justify-content          : center;
    align-items              : center;
    display                  : flex;
    border-top-left-radius   : 4px;
    border-bottom-left-radius: 4px;
    float                    : left;
}

.fans-medal-content {
    color     : #fff;
    text-align: center;
}

.fans-medal-level {
    color                     : #1a544b;
    background-color          : #fff;
    text-align                : center;
    border-top-right-radius   : 4px;
    border-bottom-right-radius: 4px;
    display                   : block;
    box-sizing                : content-box;
    text-align                : center;
    float                     : left;
}