ul, h4, p {
    margin : 0;
    padding: 0;
}


/* 标题 */

.title-edit, .sub-title-edit {
    margin: 10px;
    border: none;
}

.title-edit {
    font-size  : 24px;
    font-weight: 700;
}


/*投票列表*/

.vote-box-list {
    border : 0px solid red;
    padding: 10px;
}

.vote-item-name {
    border     : none;
    font-weight: 700;
    margin : -4px 0px 0px 0px;
}

.vote-item-id, .vote-item-num {
    float      : left;
    font-size  : 14px;
    font-weight: normal;
    line-height: 16px;
}

.vote-item-bar-bg {
    float           : left;
    height          : 14px;
    width           : 200px;
    border          : 1px solid #E2E2E2;
    background-color: #EFEFEF;
    margin          : 0 10px;
}

.vote-item-bar-fg {
    float           : left;
    height          : 14px;
    background-color: red;
}

.auto-size-div {
    color    : #66757f;
    display  : inline-block;
    height   : 22px;
    min-width: 20px;
    max-width: 100px;
}

.editable-div {
    white-space  : nowrap;
    overflow-x   : hidden;
    /* display      : inline-block; */
    padding      : 2px 8px 2px 8px;
    max-width    : 100%;
}