.live {
    overflow: hidden;
}

.live>li {
    list-style: none;
    position: relative;
    padding: 0 0 0 1.5em;
    margin: 0 0 .5em 10px;
    -webkit-transition: .12s;
    transition: .12s;
}

.live>li::before {
    position: absolute;
    content: '\2022';
    font-family: Arial;
    color: #FFF;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2em;
    opacity: .5;
    line-height: .75;
    -webkit-transition: .5s;
    transition: .5s;
}

.live>li:hover {
    color: #FFF;
}

.live>li:hover::before {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 1;
    text-shadow: 0 0 4px;
    -webkit-transition: .1s;
    transition: .1s;
}

.live.type2>li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 3px;
    line-height: 0;
    top: .27em;
    left: 5px;
}

.live.type2>li:hover::before {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border-radius: 5px;
    width: 25px;
    left: -10px;
    background: #BA5353;
}

.live.numbers {
    counter-reset: xxx 0;
}

.live.numbers>li::before {
    content: counter(xxx, decimal) ".";
    counter-increment: xxx 1;
    font-family: 'Roboto Condensed';
    font-size: 1em;
    opacity: .5;
    line-height: 1.4;
    -webkit-transition: .5s;
    transition: .5s;
}

.live.numbers>li:hover:before {
    opacity: 1;
    left: -10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-shadow: none;
    -webkit-transition: .12s;
    transition: .12s;
}

body {
    height: 100%;
    font: 1em 'Roboto Condensed', arial;
    color: #FFF;
    text-align: left;
}

html {
    height: 100%;
}

ol,
ul {
    width: 95%;
    height: 95%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

ol {
    background-image: -webkit-radial-gradient(circle, #3c3b52aa 0%, #252233aa 80%);
    background-image: radial-gradient(circle, #3c3b52aa 0%, #252233aa 80%);
}