ul {
    list-style-type: none;
}

#currentLine {
    color      : #1e6fff;
    font-weight: bold;
    font-size  : 24px;
    text-shadow: -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff,
        0px 2px 2px rgba(0, 0, 0, 0.2);
}

#nextLine {
    color      : #77a9ff;
    font-weight: bold;
    font-size  : 24px;
    text-shadow: -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff,
        0px 2px 2px rgba(0, 0, 0, 0.2);
}